<div class="container">
	<mat-card id="registerCard">
        <h4  class="text-center">Login</h4>
        <div class="alert alert-danger" role="alert" *ngIf="alert">{{alertMessage}}</div>
        <div class="alert alert-primary" role="alert" *ngIf="success">Successfully signed up!</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="input">
                <mat-label>Login</mat-label>
                <input type="text" matInput placeholder="Username" required formControlName="username">
            </mat-form-field>
        
            <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" required formControlName="password">
            </mat-form-field>
              
            <div class="text-center">
                <button type="submit" color="primary" mat-raised-button>Sign in</button>
            </div>
        </form>

        <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
        </div>

    </mat-card>
</div>

