<div class="container">
	<mat-card id="registerCard">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <h4  class="text-center">Update</h4>

            <div class="alert alert-danger" role="alert" *ngIf="alert">
                <button mat-icon-button (click)="alert=false;">
                    <mat-icon>close</mat-icon>
                </button>
                {{alertMessage}}
            </div>

            <div class="alert alert-primary" role="alert" *ngIf="success">
                <button mat-icon-button (click)="success=false;">
                    <mat-icon>close</mat-icon>
                  </button>
                  Successfully updated
            </div>

            <mat-form-field class="input">
                <mat-label>Login</mat-label>
                <input type="text" matInput readonly formControlName="username">
            </mat-form-field>
    
            <mat-form-field class="input" >
                <mat-label>Height</mat-label>
                <span matSuffix>&nbsp; cm</span>
                <input type="number" matInput required formControlName="height">
            </mat-form-field>

            <mat-form-field class="input" >
                <mat-label>Weight</mat-label>
                <span matSuffix>&nbsp; kg</span>
                <input type="number" matInput required formControlName="weight">
            </mat-form-field>

            <mat-form-field class="input" required>
                <mat-label>Sex</mat-label>
                <select matNativeControl required formControlName="sex" >
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                </select>
              </mat-form-field>

            
            <div>
                <mat-form-field class="datepicker">
                    <mat-label>Choose your birthday</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthday">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
            </div>
              
            <div class="text-center">
                <div class="p-3 btn-group mr-2">
                    <button class="text-center col" type="submit" color="primary" mat-raised-button>Update</button>
                </div>

                <div class="p-3 btn-group mr-2">
                    <button class="text-center col" type="button" (click)="delete()" color="warn" mat-raised-button>Delete</button>
                </div>
            </div>

            <div class="text-center">
                <p>Already a member? <a href="/login">Login</a></p>
            </div>
        </form>
    </mat-card>
</div>

